.bg-radial-gradient{
    background: 
        radial-gradient(
            circle at center,
                rgba(162, 162, 162, 0.6) 0%,
                rgba(75, 45, 143, 0.35) 20%,

                rgba(26, 11, 46, 0.95) 100%
        );
}

@keyframes radialMove {
    0%{
        background-position: 100% 90%;
    
    }
    50%{
        background-position: 0% 0%;

    }
    100%{
        background-position: 100% 90%;
    }

}

.animate-radial {
    background-size: 200% 200%;
    animation: radialMove 3s ease-in-out infinite;
}

.text-stroke{
    -webkit-text-stroke: 0.5px #ffffff;
}